<!DOCTYPE html>
<html>

<head>
    <title>Genuine Delivery Finder</title>
    <link rel="stylesheet" href="./css/root.css">
</head>

<body class="d-flex flex-direction-column">
    <h1 class="heading">Genuine Delivery Discover</h1>

    <div id="viewManager">
        <div data-name="Onboarding" class="is-view">
            onboarding idk what to put here lol 
        </div>

        <div data-name="Search" class="is-view">
            <button class="btn" id="searchBtn">
                <h2 id="search">Search for openings...</h2>
            </button>
        </div>

        <div data-name="Loading" class="is-view">
            <h1>Loading Slots...</h1>
        </div>

        <div data-name="Results" class="is-view">
            <h2>Results:</h2>
            <hr>

            <!-- Example Result? -->
            <div class="result">
                <h3>7:30 @ Costco</h3>
                <a class="btn" target="_blank" href="https://costco-royale.io">
                    Signup for this slot!
                </a>
            </div>
        </div>
    </div>

    <script src="./js/router.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>